.custom-slider .et-pb-arrow-prev {
color: #0ab2a4 !important;
}

.et_pb_slide_description, .et_pb_slider_fullwidth_off .et_pb_slide_description {
padding: 3% 3%;
}

.custom-slider .et-pb-arrow-next {
color: #0ab2a4 !important;
}

#et-info {
float: none;
text-align: center;
}

#footer-info {
text-align: center;
float: none;
}

@media only screen and ( max-width: 1080px ) {
#top-menu-nav, #top-menu {display: none;}
#et_top_search {display: none;}
#et_mobile_nav_menu {display: block;}
}

@media only screen and (max-width: 767px){
.et_pb_fullwidth_header .et_pb_fullwidth_header_container.center .header-content {
width: 98%;
max-width: 800px;
}
}

@media only screen and (max-width: 767px) {
.et_pb_fullwidth_header .et_pb_fullwidth_header_container .header-content a.et_pb_button {
margin-left: 10px;
margin-right: 10px;
}
}

@media only screen and (max-width: 980px) {
#logo {
height: 100% !important;
max-height: 100% !important;
width: auto;
max-width: 100% !important;
}
}

et-waypoint {
opacity: 1;
}
